name: Rust

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    
    - name: Install QEMU
      run: sudo apt-get update && sudo apt-get install -y qemu-system-x86
    
    - name: Install Rust nightly toolchain
      uses: dtolnay/rust-toolchain@nightly
    
    - name: Install rust-src
      run: rustup component add rust-src
    
    - name: Install llvm-tools-preview
      run: rustup component add llvm-tools-preview
  
    - name: Install bootimage
      run: cargo install bootimage
    
    - name: Build
      run: cargo build --verbose
    
    - name: Run tests
      run: cargo test --verbose
